.layout {
  height: 100vh;
  background: #dc0a2d;
}

.titleContainer {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  padding-top: 2.5rem;
  padding-left: 2rem;
}

.contentContainer {
  padding: 2rem;
}

.svg {
  width: 24px;
  height: 24px;
  margin-top: 0.2rem;
}

.headline {
  color: white;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-top: 0rem;
}
