.inputWrapper {
  width: 92%;
  height: 23px;
  background: white;
  border-radius: 40px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.354);
}

.icon {
  color: #c8323a;
  font-size: 20px;
  margin-right: 10px;
  height: 26px;
  width: 26px;
}

.inputWrapper input {
  border: none;
  outline: none;
  width: 100%;
  font-weight: 100;
  font-size: 15px;
}
