.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  padding-right: 1.5rem;
}

.circleButton {
  width: 45px;
  height: 45px;
  background: white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

.icon {
  width: 22px;
  height: 22px;
}

.wrapper {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 70px;
  right: 5px;
  background: #dc0a2d; /* red outer */
  border-radius: 14px;
  padding: 10px;
  min-width: 190px;
  min-height: 200px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.582);
  z-index: 40;
}

.dropdownInner {
  background: #ffffff;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
  gap: 12px;
}

.dropdownTitle {
  margin: 30px 0 30px 40px;
  font-size: 18px;
  color: #ffffff;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.option {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  user-select: none;
  padding: 10px 0 10px 30px;
  border-radius: 8px;
}

.option input[type="radio"] {
  /* visually hide native radio but keep it accessible */
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radioMark {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #e74c3c;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
}

.option input[type="radio"]:checked + .radioMark::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #e74c3c;
}

.optionLabel {
  font-size: 18px;
  color: #222;
}
