.pokedexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form {
  width: 100%;
}

.formContainer {
  display: flex;
  flex-direction: row;
  padding-left: 1.6rem;
  gap: 1.5rem;
}

.paginationContainer {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100%;
}
