.statsContainer {
  margin-top: 1rem;
}

.sectionTitle {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #999;
  margin: 0 0 1.5rem 0;
}

.statNameContainer {
  display: flex;
  gap: 0.2rem;
  flex-direction: column;
  align-items: flex-end;
}

.divider {
  flex: 0 0 1px;
  height: auto;
  width: 1px;
  background: #ddd;
}

.statRowContainer {
  flex: auto;
  display: flex;
  gap: 0.2rem;
  flex-direction: column;
}

.statsList {
  display: flex;
  gap: 2rem;
}

.statRow {
  display: flex;
  grid-template-columns: 60px 40px 1fr;
  align-items: flex-start;
  gap: 1rem;
}

.statName {
  flex: 0 0 16px;
  font-size: 14px;
  font-weight: 600;
  color: #999;
  text-transform: uppercase;
}

.statValue {
  flex: 0 0 16px;
  font-size: 14px;
  font-weight: 100;
  color: #222;
  min-width: 40px;
}

.statBarContainer {
  flex: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 14px;
}

.statBar {
  height: 5px;
  width: 100%;
  background: #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
}

.statFill {
  height: 100%;
  border-radius: 4px;
}
