.listingContainer {
  margin: 2rem 0 0.3rem 0;
  width: 98%;
  height: 100%;
  background: white;

  border-radius: 12px;

  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.757);
  box-sizing: border-box;

  padding: 2rem 1rem;
  align-content: start;
  overflow-x: scroll;
}

.listingContent {
  width: 100%;
  height: fit-content;
  max-height: 600px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  grid-template-rows: minmax(150px, max-content);
  gap: 0.6rem;
}
