.inputWrapper {
  width: 80%;
  background: white;
  border-radius: 40px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.icon {
  color: #c8323a;
  font-size: 20px;
  margin-right: 10px;
  height: 26px;
  width: 26px;
}

.inputWrapper input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 18px;
}
