.cardContainer {
  width: 180px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  position: relative;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}

.pokemonId {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #999;
  font-size: 14px;
  font-weight: 600;
}

.pokemonImage {
  width: 100%;
  height: 130px;
}

.pokemonName {
  background: #f3f3f3;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #222;
}
