.cardContainer {
  width: 138px;
  height: 148px;
  background: white;
  border-radius: 13px;
  /* thin, contrasted shadow: a subtle crisp edge plus a soft diffuse lift */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.221),
    /* thin crisp line */ 0 8px 18px rgba(0, 0, 0, 0.061); /* soft spread */
  border: 1px solid rgba(0, 0, 0, 0.093);
  position: relative;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.pokemonId {
  position: absolute;
  right: 11px;
  top: 10px;
  color: #9b9b9b;
  font-size: 13px;
  font-weight: 100;
  z-index: 5;
}

.pokemonImage {
  width: 68%;
  height: 130px;
  object-fit: contain;
  display: block;
  margin: 18px 0 0 20px;
  transition: all 2s ease-in-out;
  z-index: 3;
  margin-bottom: -30px;
}

.pokemonName {
  background: #f2f2f2;
  padding: 25px 12px 10px 12px;
  font-size: 16px;
  font-weight: 300;
  color: #222;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  text-align: center;
  z-index: 1;
}
