.pokemonDetailsContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.infoPanel {
  flex: 1;
  background: white;
  border-radius: 20px;
  padding: 5rem 2rem 2rem 2rem;
  margin: 0 0.5rem 0.5rem 0.5rem;
  box-shadow: inset 0 2.5px 5px rgba(0, 0, 0, 0.232);
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 18px;
  color: #666;
}
